.content {
    background-color: var(--y-bg-light-brand);
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-sizing: border-box;
    height: 100%;
}

#header {
    padding: 0 1.2rem 2rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header> div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#header a {
    cursor: pointer;
}

.whats-support {
    background: #3BB434;
    border-radius: .6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--y-text-inverse);
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.whats-support img {
    margin-left: .6rem;
}

#header div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
}

#header div:last-child h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--y-scales-decoration-dark-gray);
}

#header>div:last-child a {
    padding: .5rem .6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--y-btn-danger-text);
    cursor: pointer
}

#main {
    background-color: var(--y-bg-light);
    border-radius: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 8rem;
}

#main>div {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 2.2rem;
    align-items: center;
}

#main h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-align: center;
    color: var(--y-scales-decoration-dark-gray);
}

#main span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
    color: var(--y-scales-decoration-dark-gray);
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    gap: .4rem;
}

#footer>a {
    cursor: pointer;
    padding: 2rem 5rem;
    background: linear-gradient(88.89deg, #00A3FF -21.22%, #7000FF 144.27%);
    box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.04), 0 0 0 .1rem rgba(0, 0, 0, 0.04);
    border-radius: 4rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--y-text-inverse);
}

.text-link span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--y-scales-decoration-dark-gray);
}

.text-link a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--y-btn-primary-text);
    cursor: pointer;
}

.text-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .6rem 0 0 0;
    gap: .6rem;
}

.header-flex>div {
    flex: 1;
}
.header-flex>div:last-of-type {
    justify-content: flex-end;
}